.title {
  text-align: center;
  margin-top: 1rem;
}
h1 {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .lecture-card {
      flex-basis: 100%;
      height: 15rem;
      margin: 0.5rem;
    }
  }
}
@media only screen and (min-width: 601px) {
  .wrap {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    .lecture-card {
      flex-basis: 25%;
      margin: 1rem;
      height: 20rem;
    }
  }
}
