.title {
  text-align: center;
  margin-top: 1rem;
}
h1 {
  text-align: center;
  margin: 0;
}

.mat-card-avatar {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .lecture-card {
    width: 300px;
    height: 400px;
    margin: 10px;
  }
}

mat-card-header {
  margin-bottom: 16px;
}

mat-card-content {
  height: 275px;
  overflow: scroll;
  h3 {
    text-align: center;
    color: #666;
    margin-bottom: 10px;
  }
}

mat-card-actions {
  button {
    float: right;
  }
}
.more {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
}

.nothing {
  margin: 30px;
  display: flex;
  justify-content: center;
}
