.menu-icon {
  font-size: 2rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

mat-sidenav {
  min-width: 180px;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100vh;
}
